---
---

@import "{{ site.theme }}";

/* colors */
$graphite: #1c1c1c;
$fresh-green: #9fe870;
$light-caramel: #c68a64;
$rusty-brown: #7b3f00;
$soft-beige: #d9d9d9;
$warm-sand: #d1a973;

#header_wrap {
  background: $warm-sand;
}

#project_title {
  color: $rusty-brown;
  text-shadow: none;
}

#project_tagline {
  color: $rusty-brown;
  text-shadow: none;
}

#navbar_wrap {
  background: $light-caramel;
  color: $rusty-brown;
}

#main_content_wrap {
  background: $warm-sand;
  border: none;
}

#footer_wrap {
  background: $soft-beige
}
