---
---

@import "{{ site.theme }}";

/* colors */
$graphite: #1c1c1c;
$light-caramel: #c68a64;
$rusty-brown: #7b3f00;
$soft-beige: #d9d9d9;
$warm-sand: #d1a973;

#header_wrap {
  background: $warm-sand;
}

#project_title {
  color: $rusty-brown;
  text-shadow: none;
}

#project_tagline {
  color: $rusty-brown;
  text-shadow: none;
}

#navbar_wrap {
  background: $light-caramel;
  color: $rusty-brown;
  ul {
    column-gap: 16px;
    display: flex;
    flex-direction: row;
    list-style: none;
    .action {
      padding: 6px 12px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 12px;
        text-decoration: none;
      }
    }
  }
}

#main_content_wrap {
  background: $warm-sand;
  border: none;
}

#footer_wrap {
  background: $soft-beige
}

a {
  color: $rusty-brown;
  font-weight: bold;
}

body {
  color: $graphite;
}

footer {
  a, p {
    color: $graphite;
  }
}
