---
---

@import "{{ site.theme }}";

/* bootstrap overrides */
$caret-spacing: 1em;

/* colors */
$brown-sugar: #a66f47;
$dark-red: #b00020;
$eerie-black: #1c1c1c;
$graphite: #1c1c1c;
$light-caramel: #c68a64;
$rusty-brown: #7b3f00;
$soft-beige: #d9d9d9;
$warm-sand: #d1a973;
$white: #ffffff;

/* overrides */
body {
  background-color: $soft-beige;
  color: $graphite;
}

a {
  color: $rusty-brown;
  font-weight: bold;
  text-decoration: underline;
}

footer {
  a, p {
    color: $graphite;
  }
}

h2 { background: none; }

h4 {
  color: $rusty-brown;
}

.header {
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

#header_wrap {
  background: $warm-sand;
  position: relative;
  text-align: center;
  .inner {
    display: inline-block;
    padding: 0px;
    position: relative;
    text-align: center;
    .content {
      background: url("/assets/images/termite-sq-240x240.png") no-repeat left center;
      background-size: 120px;
      display: inline-block;
      padding: 10px 0px 10px 120px;
      text-align: left;
    }
  }
}

#project_title {
  color: $rusty-brown;
  text-shadow: none;
}

#project_tagline {
  color: $rusty-brown;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0px;
  padding-bottom: 10px;
  text-shadow: none;
}

#navbar_wrap {
  background: $light-caramel;
  color: $rusty-brown;
  ul {
    column-gap: 16px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0px;
    .action {
      padding: 6px 12px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 12px;
        text-decoration: none;
      }
    }
  }
}

#main_content_wrap {
  background: $warm-sand;
  border: none;
  #main_content {
    color: $rusty-brown;
    padding: 40px 10px;
    text-align: center;
    #main_description {
      margin: 20px 0 0 0;
    }
    #main_title {
      color: $rusty-brown;
      display: inline-block;
      margin-top: 0px;
    }
    #generator {
      background-color: $white;
      border-radius: 40px;
      margin: 50px auto;
      max-width: 480px;
      padding: 20px 40px 41px;
      #api_form {
        background: none;
        padding: 0;
        text-align: left;
        .parsley_error_wrapper {
          color: $dark-red;
          font-size: 14px;
          height: 14px;
          margin-bottom: 21px;
          .parsley-errors-list {
            list-style: none;
            margin-bottom: 0;
            padding: 0;
          }
        }
        button, input, select {
          border-radius: 10px;
          border-width: 1px;
          font-size: 16px;
          padding: 12px 16px;
          width: 100%;
        }
        button {
          background-color: $light-caramel;
          border: none;
          border-radius: 24px;
          color: $eerie-black;
          font-weight: bold;
          transition: background-color 0.3s ease-in-out;
          &:hover, &:focus {
            background-color: $brown-sugar;
          }
        }
        select {
          margin-bottom: 35px;
        }
        label {
          display: block;
          font-size: 14px;
          margin-bottom: 4px;
        }
      }
      #form_title {
        color: $eerie-black;
        font-size: 32px;
        margin: 21px 0;
      }
      #result {
        background-color: $warm-sand;
        border-radius: 10px;
        color: $rusty-brown;
        display: none;
        font-weight: bold;
        margin-top: 35px;
        padding: 12px;
        white-space: pre;
        &.error {
          color: $dark-red;
        }
      }
    }
    .faq_question {
      color: $rusty-brown;
      font-size: 21px;
    }
    .faq_answer {
      color: $rusty-brown;
      margin-bottom: 30px;
    }
  } 
}

#footer_wrap {
  background: $soft-beige
}

/* mobile */
@media screen and (max-width: 480px) {
  h1 { font-size: 28px; }
  h2 { font-size: 21px; }
  h3 { font-size: 18px; }
  h4 { font-size: 14px; }
  h5 { font-size: 12px; }
  h6 { font-size: 10px; }

  #header_wrap .inner .content {
    background-size: 80px;
    padding-left: 80px;
    padding-right: 10px;
    #project_title { font-size: 28px; }
    #project_tagline { font-size: 21px; }
  }

  #main_content_wrap #main_content { padding-top: 20px; }
}
