<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/termite-sq-48x48-wh.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="/assets/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/parsley.min.js" type="text/javascript"></script>
    <script>
      $(function() {
        $("#api_form").parsley();

        $("#api_form").submit(function(e) {
          e.preventDefault();

          const top_level_fields = ["country_code", "payment_field"];
          let post_data = {params: {}};

          for (const element of $(this).serializeArray()) {
            if (top_level_fields.includes(element.name)) {
              post_data[element.name] = element.value;
            } else {
              post_data.params[element.name] = element.value;
            }
          }

          $.ajax({
            type: "POST",
            url: "https://api.vigilandum.io/payment-field-engine",
            data: post_data,
            success: function(response) {
              const label = Object.keys(response)[0];
              const value = response[label];

              $("#result").removeClass("error").text(label + ":  " + value);
            },
            error: function(xhr, status, error) {
              let response_json;

              console.log(xhr.responseText);  // XXX
              console.log(error);  // XXX
              console.log(status);  // XXX
              console.log(JSON.parse(xhr.responseText));  // XXX

              try {
                response_json = JSON.parse(xhr.responseText);
              } catch(e) {
                response_json = {};
              }
              const error_message = response_json.body || 'Unknown error';

              $("#result").addClass("error").text("Error:  " + error_message);
            },
            complete: function(xhr, status) {
              $("#result").show();
            }
          });

        });
      });
    </script>

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <a class="inner" href="/">
        <div class="content">
          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </div>
      </a>
    </div>

    <!-- NAVBAR -->
    <div id="navbar_wrap" class="outer">
      <nav class="inner">
        <ul>
          <li>
            <a href="/br-iban/" class="action">Brazil IBAN</a>
          </li>
          <li>
            <a href="/mx-clabe/" class="action">Mexico CLABE</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
